.App {

  
}

.btn1{
  /* background-color: grey !important; */
}



/*----------------- signin.component.css  ----------------*/
.container1{
  box-sizing: border-box;
  box-shadow: 0px 0px 4px -2px;
  border-radius: 10px;
  height: 90vh !important;
  margin-top: 40px;
  
}

.sign-in-h1{
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 15px;
}
.text-1{
  color: grey;
  text-align: center;
}

.logo{
  height: 100px;
}

.class-for-form{
  padding-left: 120px;
  padding-top: 35px;
  padding-bottom: 130px;
}

.submit-btn {
  width: 100%;
}

.form-label{
  margin-bottom: 0px;
}

.form-input::placeholder{
  color: grey !important;
}

.right-bar{
  border-radius: 10px;
  margin-left:10rem;
  margin-top: 20px !important;
  margin-bottom: 0px;
  max-width: 29.5rem !important;
  height: 85vh;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
}
.right-bar h1{
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 48px;
}

.signup-btn{
  padding: 14px 55px !important;
  border: white 1px solid !important;
  border-radius: 30px !important;
  color: white !important;
  margin-top: 30px;
}

.signup-btn:hover{
  background-color: white !important;
  color: #007bff !important;
}


/*---------------- signup.component.css -----------------*/

.left-bar {
  flex-direction: column;
  line-height: 30px;
  color: white;
  border-radius: 10px !important;
  margin-top: 20px !important;
  margin-bottom: 0px;
  max-width: 29.5rem !important;
  height: 85vh;
  margin-left: 1.5rem;
}

.logo-div {
  margin-top: 20px;
}

.logo{
  border-radius: 50%;
}

.left-div-cnter{
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  padding-top: 6rem;
}

.class-for-form-signup{
  padding-left: 120px;
  padding-top: 5rem;
  padding-bottom: 130px;
}
.form-label-signup{
  width: 150% !important;
}


/* --------- sidebar.component.js ------------ */
.side-bar{
  border-right: solid 1px lightgrey !important;
  row-gap: 70px !important; 
  /* position: fixed; */
}

.sidebar-toggle-btn{
  border-radius: 60% !important;
  padding: 0px 0px 0px 3px !important;
  right: -20px;
  top: 0px !important;
  height: 25px;
  width: 25px;
}

.sidebar-div{
  display: flex;
  margin-left: 10px;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  box-shadow: 0px 4px 3px 3px lightgrey;
  margin-right: 20px;
  border-radius: 5px; 
}

.sidebar-div:active{
  background-color: lightblue !important;
}
.sidebar-div:hover{
  background-color: lightgrey;

}
.sidebar-div:focus {
  background: blue;
}
.sidebar-labels{
  color: grey;
}


/* -------------- header.component.css ------------ */
.header-container .logo{
  height: 80px;
}
.header-container{
  justify-content: space-between;
  align-items: center;
  padding-top: 0px !important;
  border-bottom: solid lightgrey 1px;
  gap: 10rem;
  padding-right: 10px;
  position: fixed;
  width: 100%;
}

.header-container .left{
  align-items: center;
  flex: 2;
}
.header-container .left h1{
  font-size: 40px; 
  font-weight: 700;
}

.header-container .search-container{
  align-items: center;
  flex: 3;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.header-container .search-container div{
  flex: 1;
  padding-left: 4px;
}
.header-container .search-container input{
  outline: none;
  border: none;
  width: 92%;
}

.header-container .search-container button{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.header-container .right{
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.header-container .right{
  
  font-weight: 900;
}

.header-container .profile{
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

/* ---------main content component------- */
.mainContentContainer{
padding-top: 80px;
position: fixed;
width: 100%;
}

.main-content-container{
  margin-left: 30px;
  overflow-y: scroll;
  scroll-behavior: smooth;
 }

/* ----------- tenant_overview.component.css ---------- */
.tenants-container{
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.TenantOverviewHeader{
  margin-bottom: 20px;
}

.add-tenant-btn{
  gap: 5px;
  align-items: center;
  color: white !important;
  margin-bottom: 10px;
}

.tenant_overview_head1{
  justify-content: space-between;
  align-items: center;
}
.tenants-container .totals-div{
  justify-content: space-between;
  box-shadow: 0px 4px 3px 2px lightgrey;
  border-radius: 10px;
}

.tenants-container .totals-div .p1{
  color: grey;
}

.tenants-container .totals-div .totals1{
  align-items: center;
  /* background-color: #96c6f9; */
  padding: 24px 60px 12px;
  border-radius: 10px;
}

.tenants-container .totals-div .totals1:hover{
  box-shadow: 0px 4px 3px 2px #96c6f9;
}
.tenants-container .totals-div .totals1 .text-primary{
  background-color: #96c6f9;
  border-radius: 8px;
}
.tenants-container .totals-div .totals1 .text-success{
  background-color:rgb(201, 231, 201);
  border-radius: 8px;
}
.tenants-container .totals-div .totals1 .text-danger{
  background-color: rgb(241, 187, 187);
  border-radius: 8px;
}



/* --------tenant_overveiw_table.component.js ----------- */

Table{
  padding-left: none !important;
}

Table th{
  font-weight: 500;
}
Table .image{
  /* height: 40px;
  width: 40px;
  border-radius: 30px !important;
  background-color: green; */
}
Table img {
  width: 45px;
  height: 45px;
border-radius: 40px;

}

Table td {
  color: grey !important;
  font-size: 17px;
  align-items: center;
  border-bottom: 1px solid lightgrey !important;
  background-color: rgb(250, 250, 250) !important;
  padding: 10px !important;
  padding-bottom: 0px !important;
  height: 55px !important;
}

Table td .name{
  color: black;
  font-size: 20px;
  /* padding-bottom: 4px; */
  /* margin: 0px !important; */
}

Table td  {
  /* width: fit-content; */
  /* padding: 4px 8px; */
  /* border-radius: 7px; */
  /* color: #007bff; */
  /* font-size: initial; */
  /* background-color: #2e90f9; */
}

Table td .span2{
  border-right: 1px solid grey;
}
Table td .actionbutton {
  /* width: fit-content; */
  border: solid 1px grey;
  padding: 4px 6px;
  border-radius: 7px;
  text-align: end;
  font-size: initial;
  justify-content: space-around;
}
.th-action{
  text-align: end;
}

/* payment status button */
.status-btn{
  /* background-color: green !important; */
  padding-bottom: -10px !important;
  margin: 0px !important;
}
.paid-status {
  color: #007bff !important;
}
.due-status {
  color: rgb(197, 66, 66) !important;
}

/*-------- offCanvas ------ */

.offCanvas{

}

/* -------leaseoverview component.js -------- */

.leaseOverview-Container{
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.lease-profiles-container{
  border:1px solid grey;
  border-radius: 20px;
  padding: 10px 15px;
  margin-bottom: 30px;
  margin-right: 20px;
}
.lease-profiles-div{
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.lease-div{
  flex: 1;
 
}
.lease-div-div{
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: center;
}

.lease-div-div span{
  text-decoration: underline;
  color: grey;
}

.lease-rent-div {
  padding: 10px 15px;
  background-color: #2e90f9;
  border-radius: 8px;
  width: 180px;
}
.lease-rent-div p{
  margin: 4px 0px;
}

.lease-more-info-btn{
  background: #2e90f9 !important;
}

.lease-rent-inc {
  background: white;
  padding: 3px 5px;
  text-align: center;
  border-radius: 8px;

}


/* --------lease_agreement.component ------- */
.leaseAgreement{

}
.leaseAgreement span {
  color: #007bff;
}
.ol1{
  list-style-type: upper-roman;
}
.ol2{
  list-style-type: disc;
}
.ol3{
  list-style-type: square;
}


/*  -------------------TenantMoreDetails/profile -------------*/

.profiles_offCanvas {
  width: 627px !important;
  background-color: #F5F5F5 !important;
}

.TenantProfileDetails{

}
.TenantProfileDetails header {
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.TenantProfileDetails header span{
  background-color: #2e90f9;
  padding: 1px 4px;
  border-radius: 8px;
  margin-left: 20px;
  color: lightgrey;
}

.TenantProfileDetails .section1{
  justify-content: space-between;
  align-items: center;
  border: solid 1px lightgrey;
  padding: 6px 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.TenantProfileDetails .section1 .div1 {
  align-items: center;
  gap: 40px;
}

.TenantProfileDetails .section1 .div1 .image-div{
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 40px;
  text-align: center;
}

.TenantProfileDetails .section1 .div1 .span{
  font-size: 13px;
  color: initial;
}
.TenantProfileDetails .section1 .div1 span{
  margin: -4px 0px;
  font-size: 12px;
  color: grey;
}

.edit-div{
  padding: 4px 6px;
  border: solid 1px grey;
  border-radius: 12px;
  color: grey;
}



.TenantProfileDetails .section2{
  border: solid lightgrey 1px;
  background-color: white;
  padding: 6px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.TenantProfileDetails .section2 .div2{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

}

.TenantProfileDetails .section2 .row div{
  margin-bottom: 20px;
}
.TenantProfileDetails .section2 .row h5 {
  margin: -4px 0px;
  
}

.TenantProfileDetails .section2 .row span{
  color: grey;
  margin: -4px 0px;
}


/* --------- reports component table  -------- */

Table {
  width: 100% !important;
}

.thead{

}

.th-center {
  display: table;
  /* align-items: normal; */
  justify-content: space-evenly !important;
  width: 60% !important;
}

.td-center {
  display: table;
  /* align-items: normal; */
  justify-content: space-evenly !important;
  width: 100% !important;
}

.t-body td{
  padding: 10px 1px !important;
}


/* ---------settings.component.js ----------- */

.profile-settings-container {

}

.profile-settings-container .p4{
  font-size: 16px;
}

.profile-settings-div {
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  padding: 30px 20px;
  border-radius: 10px;
}

.profile-settings-div .col-6 {
   margin-bottom: 10px;
}
.profile-settings-div p{
  font-size: 18px !important;
  margin: 0px !important;
  padding: 0px;
}

.profile-settings-div span{
  font-size: 16px;
  color: grey;
  border: solid 1px grey;
  padding: 4px;
  border-radius: 8px;
}

.notifications-container{
  
}

.notifications-container div{
  margin-bottom: 10px;
}
.notifications-container p{
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}

.notifications-container span {
  border: solid 1px grey ;
  padding: 4px;
  width: 200px !important; 
  border-radius: 8px;
  font-size: 16px;
  color: grey;
}
.notifications-container span .toggle-icon{
  color: #2e90f9;
}